**/.env
*.json
venv/
pisun.py

# Игнорируем кэш Python
__pycache__/
*.pyc
json-db.py
# Игнорируем виртуальное окружение, если используешь
venv/
env/

# Игнорируем базу данных SQLite
*.db
misc_funcs

# Игнорируем твои конфиги с секретами
.env

# Логи, если ведёшь
*.log

# PyCharm / VSCode
.idea/
.vscode/

# System files
.DS_Store